.wait{
  /* center of window
    https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/
  */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}
